<%- include("partials/header.ejs") %>
<body>
    <header class="d-flex flex-wrap justify-content-center py-3 mb-4 border-bottom">
        <a href="/" class="d-flex align-items-center mb-3 mb-md-0 me-md-auto link-body-emphasis text-decoration-none">
          <img class="bi me-2" width="40" height="32" src="images/logo.svg" alt="logo">
          <span class="fs-4">My Weather App</span>
        </a>
      </header>
    <h2>Sorry, there was an error on our side. We could not fetch your weather information. Try to refresh the previous page.</h2>
<%- include("partials/footer.ejs") %>
